In [6]:
import sqlite3
import pandas as pd

In [3]:
def create_db(db_file):
    try:
        conn = sqlite3.connect(db_file)
    except sqlite3.Error as error:
        print(error)
    finally:
        if conn:
            conn.close()

In [4]:
create_db('source.db')

In [7]:
try:
    db = sqlite3.connect('source.db')
    df_s = pd.read_excel('../data/source.xlsx', sheet_name=None)

    for table, df in df_s.items():
        df.to_sql(table, db)
except sqlite3.Error as error:
        print(error)
finally:
    if db:
        db.close()

c:\Users\andre\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

In [19]:
try:
    db = sqlite3.connect('source.db')
    cursor = db.cursor()

    # Вывести список товаров с максимальной ценой в каждой группе:
    print('Задание № 1:')
    cursor.execute('''SELECT "Группа товаров", Товар, MAX(Цена) AS "Максимальная цена" 
                    FROM Товары GROUP BY "Группа товаров"''')
    
    for group in cursor.fetchall():
        print(group)

    # Вывести категорию с минимальным количеством товаров:
    print('\n' + 'Задание № 2:')
    cursor.execute('''SELECT Категория, MIN("Количество товаров в категории") AS Количество 
                    FROM (SELECT Категория, COUNT(Категория) AS "Количество товаров в категории" 
                    FROM (SELECT Категории.Категория 
                    FROM Товары JOIN Категории ON Товары."Код категории"=Категории."Код категории")
                    GROUP BY Категория)''')

    print(cursor.fetchall())

    # Вывести категорию с максимальной суммой стоимостей товаров:
    print('\n' + 'Задание № 3:')
    cursor.execute('''SELECT Категория, MAX("Сумма стоимостей товаров") AS "Максимальная сумма" 
                    FROM (SELECT Категория, SUM(Цена) AS "Сумма стоимостей товаров" 
                    FROM (SELECT Цена, Категории.Категория 
                    FROM Товары JOIN Категории ON Товары."Код категории"=Категории."Код категории")
                    GROUP BY Категория)''')
    
    print(cursor.fetchall())

except sqlite3.Error as error:
        print(error)
finally:
    if db:
        db.close()

Задание № 1:
('Автомобильный аксессуар', 'Переходник Deppa USB Type-C - HDMI, USB x2 серый 0.12 м', 5799)
('Аксессуар для смарт-часов', 'Ремешок Apple для Apple розовый', 3899)
('Зарядное', 'Сетевое зарядное устройство Apple MR2A2ZM/A', 4399)
('Защитный аксессуар', '5.15" Защитное стекло DF для смартфона Honor 9', 799)
('Электронное устройство', '11" Планшет Apple iPad Pro 2018 64 ГБ 3G, LTE серебристый', 78999)

Задание № 2:
[('Автомобильный держатель', 9)]

Задание № 3:
[('Планшет', 1681268)]